@use "../base/colors";
@use "../base/fonts";

* {
  margin: 0;
  box-sizing: border-box;
  // overflow: hidden;
}
/*--- Mobile ---*/
body {
  overflow: hidden;
}

#splash {
  background-image: url(images/mobil1.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: none;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 10%;
  display: grid;
  grid-template-columns: 50px 10px auto 10px 50px;
  grid-template-rows: 25% 100px auto 56px 26%;
  grid-gap: 17px;
}

//<p> på frontpage under knap
.p_splash {
  grid-column: 3 / span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row: 5/6;
  color: colors.$font_color_on_frontpages;
  text-align: center;
  margin: 0.5em -4em 0 -4em;
  // font-size: smaller;
  font-family: "uniformProConBlack";
  font-style: italic;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  z-index: 5;
}

/*--- Ipad lodret---*/

@media (min-width: 768px) {
  #splash {
    background-image: url(images/ipad1.png);
    grid-template-columns: 100px 105px auto 105px 100px;
    grid-template-rows: 25% 100px auto 75px 22%;
  }

  p {
    margin: 0.5em 7.7em 0 7.7em;
  }

  .p_splash {
    margin: 1em 1em 0 1em;
  }
}

/*--- Ipad vandret ---*/

@media (min-width: 1080px) {
  #splash {
    background-image: url(images/mellem.png);
    grid-template-columns: 190px 95px auto 95px 190px;
    grid-template-rows: 25% 100px auto 66px 12%;
  }
}

/*--- Desktop ---*/

@media (min-width: 1200px) {
  #splash {
    background-image: url(images/desktop.png);
    grid-template-columns: 290px 165px auto 165px 290px;
    grid-template-rows: 25% 100px auto 72px 10%;
  }
  p {
    margin: 0.5em 9em 0em 9em;
  }

  .p_splash {
    margin: 1em 8em 0 8em;
  }
}
