@use "../base/fonts";

// Form reset
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"],
[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Hide validation
.hint {
  visibility: hidden;
}

// Hide modal
.hide {
  visibility: hidden;
}

// Hide choices
.no-show {
  display: none;
}

// .modal {
//   width: 350px;
//   height: 85vh;
//   background: inherit;
//   overflow: hidden;
//   border-radius: 30px;
//   border: none;
// }

// .modal:before {
//   width: 400px;
//   height: 100vh;
//   content: "";
//   background: inherit;
//   box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.8);
//   filter: blur(10px);
// }

.modal {
  background: rgba(255, 255, 255, 0.72);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 90vw;
  height: 85vh;
  border: none;
  overflow-y: scroll;
  padding: 0;
}

// .modal:before {
//   content: "";
//   position: absolute;
//   background: inherit;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
//   filter: blur(10px);
//   margin: -20px;
// }

.content {
  margin: 5vw;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 2rem;
  // display: grid;
  // gap: 10px;
}

.form-text {
  margin: 10px auto;
  text-align: center;
}

label,
legend {
  font-family: fonts.$base-font-bold;
  text-transform: uppercase;
  display: inline-block;
}

legend {
  margin-bottom: 1rem;
}

.label {
  font-size: 0.9rem;
}

input {
  box-shadow: inset 1px 3px 5px 3px #aea8a86e, 3px 3px 6px 2px #aea8a86e;
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 100%;
}

input[type="checkbox"],
[type="radio"] {
  height: 20px;
  width: 20px;
  background: white;
  position: relative;
  margin-right: 10px;
}

input[type="checkbox"] {
  border-radius: 5px;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #3e16d5;
  position: absolute;
  border-radius: 2px;
  top: 4px;
  left: 4px;
}

input[type="radio"]:checked:before {
  border-radius: 50px;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  padding: 0vw;
  row-gap: 10px;
  column-gap: 5px;
}

li {
  display: flex;
  align-items: center;
}

.expand {
  font-family: fonts.$base-font;
  text-transform: none;
  display: block;
}
