@use "../base/fonts";
@use "../base/colors";

// Form reset

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"],
[type="checkbox"],
[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

// Hide validation
.error {
  visibility: hidden;
  color: #da2424;
  font-size: 0.9rem;
}

// Hide modal
.hide {
  visibility: hidden;
}

// Hide choices
.no-show {
  display: none;
}

// Modal styling

.modal {
  background: #17162bb0;
  border-radius: 20px;
  box-shadow: 10px 10px 55px 20px rgb(0 0 0 / 75%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 90vw;
  max-height: 95vh;
  border: none;
  overflow-y: scroll;
  padding: 0;
  height: 90vh;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal_top {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #17162b;
  padding: 5vw;
  z-index: 8;
}

svg {
  width: 30%;
  path {
    fill: colors.$green-light;
  }
}

.content {
  margin: 5vw;
}

.page_no {
  font-family: fonts.$base-font-bold;
  color: colors.$grey-pastel;
}

// Form styling
.form-group {
  line-height: 1.5rem;
}

#user_info .form-group,
#personal_info .form-group {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  // display: grid;
  // gap: 10px;
}

.form-text {
  margin: 20px auto;
  text-align: center;
  // margin-bottom: 20px;
  line-height: 1.5rem;
}

label,
legend {
  text-transform: uppercase;
  display: inline-block;
  color: white;
}

legend {
  font-family: fonts.$base-font-bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

legend p {
  text-transform: none;
}

// legend + input[type="radio"] {
//   margin-top: 1rem;
// }

.label {
  font-size: 1rem;
}

#signed_up {
  height: auto;
}

// Input styling
input {
  box-shadow: inset 1px 3px 5px 3px #4c4c4c6e, 3px 3px 6px 2px #000000bd;
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 100%;
  padding-left: 10px;
}

input::placeholder {
  font-style: italic;
}

input[type="checkbox"],
[type="radio"] {
  height: 20px;
  width: 20px;
  background: white;
  position: relative;
  margin-right: 10px;
  flex-shrink: 0;
}

input[type="checkbox"] {
  border-radius: 5px;
}

input[type="radio"] {
  vertical-align: top;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: colors.$blue;
  position: absolute;
  border-radius: 2px;
  top: 4px;
  left: 4px;
}

input[type="radio"]:checked:before {
  border-radius: 50px;
}

// Styling on range input

input[type="range"] {
  height: 10px;
  width: 82%;
}

/* Special styling for WebKit/Blink/Chrome */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: colors.$blue;
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: colors.$blue;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: colors.$blue;
  cursor: pointer;
}

// Range Label
.range_value {
  display: inline-block;
  position: relative;
  // width: 20px;
  color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: colors.$blue;
  padding: 5px 10px;
  margin-left: 8px;
  font-family: fonts.$base-font;
  font-size: 0.9rem;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid colors.$blue;
    border-bottom: 7px solid transparent;
    content: "";
  }
}

label + input[type="radio"] {
  margin-left: 1rem;
}

input:focus {
  outline: 3px solid colors.$blue-light;
}

/* Validering */

input:valid:not(:placeholder-shown, :focus, [type="radio"], [type="checkbox"], [type="range"]) {
  border: 3px solid #5ce07f;
}

input:invalid:not(:placeholder-shown, :focus, [type="radio"], [type="checkbox"], [type="range"]) {
  border: 3px solid #fa3328;
}

input:not(:focus, :placeholder-shown):invalid ~ .error {
  visibility: visible;
  color: #fa3328;
  font-size: 0.9rem;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  padding: 0;
  column-gap: 5px;
  row-gap: 5px;
}

li {
  display: flex;
  align-items: center;
}

// Hints and errors

.hint,
.error {
  font-family: fonts.$base-font;
  text-transform: none;
  color: colors.$grey-pastel;
}

.hint {
  display: block;
}

.check {
  background-color: colors.$color_on_lastmodal;
  margin-bottom: 2em;
}
.check_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 27vw;
  padding-top: 4em;
  padding-bottom: 1em;
}
.check_p {
  text-align: center;
  padding-bottom: 2em;
  color: white;
  font-weight: bold4;
}

.form-text-p {
  margin: 0 15px;
  text-align: center;
}

#user_login {
  margin-bottom: 20px;
}

@media (min-width: 750px) {
  .page_no {
    margin: 0.5em 0em 0 0em;
  }
  .modal {
    max-width: 75vw;
    max-height: 82vh;
  }
  input[name="age"] {
    inline-size: 10ch;
    display: block;
  }
  .content {
    margin: 5vw 6vw 5vw 6vw;
  }

  .form-text-p {
    margin: 0 2em;
    text-align: center;
    // line-height: 1.5rem;
  }
  .check_image {
    width: 20vw;
  }
}

@media (min-width: 1200px) {
  .modal {
    max-width: 35vw;
    max-height: 90vh;
  }

  .content {
    margin: 1vw;
  }

  .modal_top {
    padding: 2vw;
  }

  svg {
    width: 23%;
  }
  .page_no {
    margin: 0.1em 2em 0 0em;
  }

  .close {
    margin: 0.1em 0.2em 0 0em;
  }

  .label {
    font-size: 1.1rem;
  }

  .form-group {
    line-height: 1.8rem;
  }

  .content {
    margin: 0.5vw 3vw 0.5vw 3vw;
  }

  .form-text {
    margin: 30px auto;
  }

  .check_image {
    max-width: 9vw;
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

//  TEST

.radio_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 10px;

  span {
    display: flex;
  }
}
