@use "../base/fonts";

// Form reset

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"],
[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Hide validation
.error {
  visibility: hidden;
  color: #da2424;
}

// Hide modal
.hide {
  visibility: hidden;
}

// Hide choices
.no-show {
  display: none;
}

// Modal styling

.modal {
  background: rgba(255, 255, 255, 0.72);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 90vw;
  height: 85vh;
  border: none;
  overflow-y: scroll;
  padding: 0;
}

.modal_top {
  display: flex;
  justify-content: space-between;
}

.close {
  background-color: transparent;
  border: none;
  padding: 0;
  color: rgb(70, 70, 70);
  box-shadow: none;
  font-family: fonts.$base-font-bold;
}

.content {
  margin: 5vw;
}

.page_no {
  font-family: fonts.$base-font-bold;
  color: rgb(70, 70, 70);
}

// Form styling
.form-group {
  line-height: 1.5rem;
}

#user_info .form-group,
#personal_info .form-group {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  // display: grid;
  // gap: 10px;
}

.form-text {
  margin: 10px auto;
  text-align: center;
  margin-bottom: 20px;
}

label,
legend {
  font-family: fonts.$base-font-bold;
  text-transform: uppercase;
  display: inline-block;
}

legend {
  margin-bottom: 1rem;
}

// legend + input[type="radio"] {
//   margin-top: 1rem;
// }

.label {
  font-size: 0.9rem;
}

// Input styling
input {
  box-shadow: inset 1px 3px 5px 3px #aea8a86e, 3px 3px 6px 2px #aea8a86e;
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 100%;
}

input[type="checkbox"],
[type="radio"] {
  height: 20px;
  width: 20px;
  background: white;
  position: relative;
  margin-right: 10px;
}

input[type="checkbox"] {
  border-radius: 5px;
}

input[type="radio"] {
  vertical-align: top;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #3e16d5;
  position: absolute;
  border-radius: 2px;
  top: 3px;
  left: 3px;
}

input[type="radio"]:checked:before {
  border-radius: 50px;
}

label + input[type="radio"] {
  margin-left: 1rem;
}

input:focus {
  border: 1px solid blue;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid #da2424;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  padding: 0;
  column-gap: 5px;
  row-gap: 5px;
}

li {
  display: flex;
  align-items: center;
}

// Hints and errors

.hint,
.error {
  font-family: fonts.$base-font;
  text-transform: none;
  color: rgb(70, 70, 70);
}

.hint {
  display: block;
}

// #password {
//   display: block;
//   color: rgb(70, 70, 70);
//   font-family: fonts.$base-font;
//   text
// }
