//Color on font on the <p> on the frontpage.
$font_color_on_frontpages: #ffb591;
$color_on_lastmodal: #5ce07f;

// Orange
$orange: #f48d69;
$orange-light: #ffb591;
$orange-pastel: #f8ddce;

// Blue
$blue: #3e14d6;
$blue-light: #6259fa;
$blue-pastel: #cacefc;

// Green
$green: #5be080;
$green-light: #b9f8b9;
$green-pastel: #dffcdf;

// Grey
$grey: #16162a;
$grey-medium: #3f3f50;
$grey-light: #a5a5ac;
$grey-pastel: #e3e3e5;
